.buttonComponent {
    h1 {
        font-size: 20px;
        color: white;
    }


    button {
        background-color: red;
        padding: 12px;
    }

    .firstAnswer {
        background-image: url("src/images/answerBall8-v3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 15vh;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }



}